.box{
    position: relative;
    width:380px;
    height:420px;
    border-radius: 12px;
}

.form{
    position: absolute;
    inset:2px;
    z-index: 10;
    border-radius: 8px;
    display: flex;
    padding: 50px 40px;
    flex-direction: column;
}
.form h2{
    color: black;
    font-weight: 500;
    text-align: center;
}
.inputBox{
    position: relative;
    width:300px;
    margin-top: 35px;
}

.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 11;
    color: black;
}
.inputBox span{
    position:absolute;
    left:5px;
    font-size: 1em;
    bottom: 10px;
    pointer-events: none;
    transition:0.8s;
}
.inputBox input:valid ~span,
.inputBox input:focus ~span
{
    color:gray;
    transform: translateX(-4px) translateY(-40px);
    font-size: 0.9em;
}
.inputBox i{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height: 2px;
    background: wheat;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
    height: 44px;
}
.links{
    display: flex;
    justify-content: space-between;
}
.links a{
    margin:20px 0;
    font-size: 0.75em;
    color:gray;
    text-decoration: none;
}
.links a:hover,
.links a:nth-child(2){
    color:black
}
input[type="submit"]
{
    border:none;
    outline: none;
    background: wheat;
    padding:11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight:600;
    cursor:pointer;
}
input[type="submit"]:active{
    opacity: 0.8;
}
