.profile{
    color: white;
    font-size: 40px;
    padding: 20px;
    
}

.profile-box{
    max-width: 60%;
    margin: 0 auto;
}
.accordion-item{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd63;
    
}

.info-area{
    display: flex;
    font-size:medium;
    align-items: center;
    
}

.info-text{
    margin-right: 20px;
}
